ASKI-VACACIONES/ASKI-VACACIONES/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7100/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_Asky" />
  <xs:import schemaLocation="http://localhost:7100/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service_Asky.Tables" />
  <xs:import schemaLocation="http://localhost:7100/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service_Asky" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service_Asky" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDepartamentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="talento_humano" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="primer_nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="segundo_nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="primer_apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="segundo_apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha_ingreso" type="xs:dateTime" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addPermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPermisoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsuario_Departamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="talentoHumano" type="xs:int" />
        <xs:element minOccurs="0" name="idDepartamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsuario_DepartamentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsuario_Rol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="talentoHumano" type="xs:int" />
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsuario_RolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addRoles_Permisos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
        <xs:element minOccurs="0" name="idPermiso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRoles_PermisosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editPermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPermisoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editRolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editDepartamentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="talentoHumano" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="primerNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="segundoNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="primerApellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="segundoApellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaIngreso" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePermisoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="confirmarLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="confirmarLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="confirmarLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPermisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service_Asky.Tables" minOccurs="0" name="getPermisoResult" nillable="true" type="q3:Permisos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service_Asky.Tables" minOccurs="0" name="getRolResult" nillable="true" type="q4:Roles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service_Asky.Tables" minOccurs="0" name="getDepartamentoResult" nillable="true" type="q5:Departamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="talento_humano" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Service_Asky.Tables" minOccurs="0" name="getUsuarioResult" nillable="true" type="q6:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_calendario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_calendarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Service_Asky.Tables" minOccurs="0" name="getTbl_calendarioResult" nillable="true" type="q7:ArrayOfCalendario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_departamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_departamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Service_Asky.Tables" minOccurs="0" name="getTbl_departamentosResult" nillable="true" type="q8:ArrayOfDepartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_jerarquia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_jerarquiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Service_Asky.Tables" minOccurs="0" name="getTbl_jerarquiaResult" nillable="true" type="q9:ArrayOfJerarquia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_log_vacaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_log_vacacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Service_Asky.Tables" minOccurs="0" name="getTbl_log_vacacionesResult" nillable="true" type="q10:ArrayOfLog_Vacaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_permisos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_permisosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Service_Asky.Tables" minOccurs="0" name="getTbl_permisosResult" nillable="true" type="q11:ArrayOfPermisos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_roles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_rolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Service_Asky.Tables" minOccurs="0" name="getTbl_rolesResult" nillable="true" type="q12:ArrayOfRoles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_status">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_statusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Service_Asky.Tables" minOccurs="0" name="getTbl_statusResult" nillable="true" type="q13:ArrayOfStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_tipo_dia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_tipo_diaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Service_Asky.Tables" minOccurs="0" name="getTbl_tipo_diaResult" nillable="true" type="q14:ArrayOfTipo_Dia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_usuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_usuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Service_Asky.Tables" minOccurs="0" name="getTbl_usuariosResult" nillable="true" type="q15:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_vacaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTbl_vacacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Service_Asky.Tables" minOccurs="0" name="getTbl_vacacionesResult" nillable="true" type="q16:ArrayOfVacaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUltimoId_Roles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUltimoId_RolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUltimoId_RolesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLista_Permisos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="talento_humano" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLista_PermisosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getLista_PermisosResult" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>