ASKI-VACACIONES/ASKI-VACACIONES/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7100/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7100/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7100/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_Asky" />
      <xsd:import schemaLocation="http://localhost:7100/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service_Asky.Tables" />
      <xsd:import schemaLocation="http://localhost:7100/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:addDepartamento" />
  </wsdl:message>
  <wsdl:message name="IService1_addDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:addDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addRole_InputMessage">
    <wsdl:part name="parameters" element="tns:addRole" />
  </wsdl:message>
  <wsdl:message name="IService1_addRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:addRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:addUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_addUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addPermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:addPermiso" />
  </wsdl:message>
  <wsdl:message name="IService1_addPermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPermisoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addUsuario_Departamento_InputMessage">
    <wsdl:part name="parameters" element="tns:addUsuario_Departamento" />
  </wsdl:message>
  <wsdl:message name="IService1_addUsuario_Departamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUsuario_DepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addUsuario_Rol_InputMessage">
    <wsdl:part name="parameters" element="tns:addUsuario_Rol" />
  </wsdl:message>
  <wsdl:message name="IService1_addUsuario_Rol_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUsuario_RolResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addRoles_Permisos_InputMessage">
    <wsdl:part name="parameters" element="tns:addRoles_Permisos" />
  </wsdl:message>
  <wsdl:message name="IService1_addRoles_Permisos_OutputMessage">
    <wsdl:part name="parameters" element="tns:addRoles_PermisosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addDepartamento_Jefe_InputMessage">
    <wsdl:part name="parameters" element="tns:addDepartamento_Jefe" />
  </wsdl:message>
  <wsdl:message name="IService1_addDepartamento_Jefe_OutputMessage">
    <wsdl:part name="parameters" element="tns:addDepartamento_JefeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addJerarquia_InputMessage">
    <wsdl:part name="parameters" element="tns:addJerarquia" />
  </wsdl:message>
  <wsdl:message name="IService1_addJerarquia_OutputMessage">
    <wsdl:part name="parameters" element="tns:addJerarquiaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addTipo_dia_InputMessage">
    <wsdl:part name="parameters" element="tns:addTipo_dia" />
  </wsdl:message>
  <wsdl:message name="IService1_addTipo_dia_OutputMessage">
    <wsdl:part name="parameters" element="tns:addTipo_diaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editPermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:editPermiso" />
  </wsdl:message>
  <wsdl:message name="IService1_editPermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:editPermisoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editRol_InputMessage">
    <wsdl:part name="parameters" element="tns:editRol" />
  </wsdl:message>
  <wsdl:message name="IService1_editRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:editRolResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:editDepartamento" />
  </wsdl:message>
  <wsdl:message name="IService1_editDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:editDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:editUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_editUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:editUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_perfil_InputMessage">
    <wsdl:part name="parameters" element="tns:perfil" />
  </wsdl:message>
  <wsdl:message name="IService1_perfil_OutputMessage">
    <wsdl:part name="parameters" element="tns:perfilResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deletePermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:deletePermiso" />
  </wsdl:message>
  <wsdl:message name="IService1_deletePermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletePermisoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteRoles_Usuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteRoles_Usuarios" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteRoles_Usuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteRoles_UsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteDepartamento_Usuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteDepartamento_Usuarios" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteDepartamento_Usuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteDepartamento_UsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteDepartamento_Jefe_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteDepartamento_Jefe" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteDepartamento_Jefe_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteDepartamento_JefeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_confirmarLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:confirmarLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_confirmarLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:confirmarLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:getPermiso" />
  </wsdl:message>
  <wsdl:message name="IService1_getPermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPermisoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getRol_InputMessage">
    <wsdl:part name="parameters" element="tns:getRol" />
  </wsdl:message>
  <wsdl:message name="IService1_getRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRolResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:getDepartamento" />
  </wsdl:message>
  <wsdl:message name="IService1_getDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_getUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_calendario_InputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_calendario" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_calendario_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_calendarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_departamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_departamentos" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_departamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_departamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_jerarquia_InputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_jerarquia" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_jerarquia_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_jerarquiaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_log_vacaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_log_vacaciones" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_log_vacaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_log_vacacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_permisos_InputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_permisos" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_permisos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_permisosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_roles_InputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_roles" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_roles_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_rolesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_status_InputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_status" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_status_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_statusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_tipo_dia_InputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_tipo_dia" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_tipo_dia_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_tipo_diaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_usuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_usuarios" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_usuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_usuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_vacaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_vacaciones" />
  </wsdl:message>
  <wsdl:message name="IService1_getTbl_vacaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTbl_vacacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUltimoId_Roles_InputMessage">
    <wsdl:part name="parameters" element="tns:getUltimoId_Roles" />
  </wsdl:message>
  <wsdl:message name="IService1_getUltimoId_Roles_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUltimoId_RolesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getLista_Permisos_InputMessage">
    <wsdl:part name="parameters" element="tns:getLista_Permisos" />
  </wsdl:message>
  <wsdl:message name="IService1_getLista_Permisos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLista_PermisosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getIdsRoles_Usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:getIdsRoles_Usuario" />
  </wsdl:message>
  <wsdl:message name="IService1_getIdsRoles_Usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIdsRoles_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getIdDepartamentos_Usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:getIdDepartamentos_Usuario" />
  </wsdl:message>
  <wsdl:message name="IService1_getIdDepartamentos_Usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIdDepartamentos_UsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addDepartamento" message="tns:IService1_addDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addDepartamentoResponse" message="tns:IService1_addDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addRole" message="tns:IService1_addRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addRoleResponse" message="tns:IService1_addRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addUsuario" message="tns:IService1_addUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addUsuarioResponse" message="tns:IService1_addUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPermiso">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addPermiso" message="tns:IService1_addPermiso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addPermisoResponse" message="tns:IService1_addPermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUsuario_Departamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addUsuario_Departamento" message="tns:IService1_addUsuario_Departamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addUsuario_DepartamentoResponse" message="tns:IService1_addUsuario_Departamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUsuario_Rol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addUsuario_Rol" message="tns:IService1_addUsuario_Rol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addUsuario_RolResponse" message="tns:IService1_addUsuario_Rol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addRoles_Permisos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addRoles_Permisos" message="tns:IService1_addRoles_Permisos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addRoles_PermisosResponse" message="tns:IService1_addRoles_Permisos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addDepartamento_Jefe">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addDepartamento_Jefe" message="tns:IService1_addDepartamento_Jefe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addDepartamento_JefeResponse" message="tns:IService1_addDepartamento_Jefe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addJerarquia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addJerarquia" message="tns:IService1_addJerarquia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addJerarquiaResponse" message="tns:IService1_addJerarquia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addTipo_dia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addTipo_dia" message="tns:IService1_addTipo_dia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addTipo_diaResponse" message="tns:IService1_addTipo_dia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editPermiso">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editPermiso" message="tns:IService1_editPermiso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editPermisoResponse" message="tns:IService1_editPermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editRol" message="tns:IService1_editRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editRolResponse" message="tns:IService1_editRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editDepartamento" message="tns:IService1_editDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editDepartamentoResponse" message="tns:IService1_editDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editUsuario" message="tns:IService1_editUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editUsuarioResponse" message="tns:IService1_editUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="perfil">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/perfil" message="tns:IService1_perfil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/perfilResponse" message="tns:IService1_perfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletePermiso">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deletePermiso" message="tns:IService1_deletePermiso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deletePermisoResponse" message="tns:IService1_deletePermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteRoles_Usuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteRoles_Usuarios" message="tns:IService1_deleteRoles_Usuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteRoles_UsuariosResponse" message="tns:IService1_deleteRoles_Usuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteDepartamento_Usuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteDepartamento_Usuarios" message="tns:IService1_deleteDepartamento_Usuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteDepartamento_UsuariosResponse" message="tns:IService1_deleteDepartamento_Usuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteDepartamento_Jefe">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteDepartamento_Jefe" message="tns:IService1_deleteDepartamento_Jefe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteDepartamento_JefeResponse" message="tns:IService1_deleteDepartamento_Jefe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="confirmarLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/confirmarLogin" message="tns:IService1_confirmarLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/confirmarLoginResponse" message="tns:IService1_confirmarLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPermiso">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPermiso" message="tns:IService1_getPermiso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPermisoResponse" message="tns:IService1_getPermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getRol" message="tns:IService1_getRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getRolResponse" message="tns:IService1_getRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getDepartamento" message="tns:IService1_getDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getDepartamentoResponse" message="tns:IService1_getDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUsuario" message="tns:IService1_getUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUsuarioResponse" message="tns:IService1_getUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTbl_calendario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTbl_calendario" message="tns:IService1_getTbl_calendario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTbl_calendarioResponse" message="tns:IService1_getTbl_calendario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTbl_departamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTbl_departamentos" message="tns:IService1_getTbl_departamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTbl_departamentosResponse" message="tns:IService1_getTbl_departamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTbl_jerarquia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTbl_jerarquia" message="tns:IService1_getTbl_jerarquia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTbl_jerarquiaResponse" message="tns:IService1_getTbl_jerarquia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTbl_log_vacaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTbl_log_vacaciones" message="tns:IService1_getTbl_log_vacaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTbl_log_vacacionesResponse" message="tns:IService1_getTbl_log_vacaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTbl_permisos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTbl_permisos" message="tns:IService1_getTbl_permisos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTbl_permisosResponse" message="tns:IService1_getTbl_permisos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTbl_roles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTbl_roles" message="tns:IService1_getTbl_roles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTbl_rolesResponse" message="tns:IService1_getTbl_roles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTbl_status">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTbl_status" message="tns:IService1_getTbl_status_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTbl_statusResponse" message="tns:IService1_getTbl_status_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTbl_tipo_dia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTbl_tipo_dia" message="tns:IService1_getTbl_tipo_dia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTbl_tipo_diaResponse" message="tns:IService1_getTbl_tipo_dia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTbl_usuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTbl_usuarios" message="tns:IService1_getTbl_usuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTbl_usuariosResponse" message="tns:IService1_getTbl_usuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTbl_vacaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTbl_vacaciones" message="tns:IService1_getTbl_vacaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTbl_vacacionesResponse" message="tns:IService1_getTbl_vacaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUltimoId_Roles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUltimoId_Roles" message="tns:IService1_getUltimoId_Roles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUltimoId_RolesResponse" message="tns:IService1_getUltimoId_Roles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLista_Permisos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getLista_Permisos" message="tns:IService1_getLista_Permisos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getLista_PermisosResponse" message="tns:IService1_getLista_Permisos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIdsRoles_Usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getIdsRoles_Usuario" message="tns:IService1_getIdsRoles_Usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getIdsRoles_UsuarioResponse" message="tns:IService1_getIdsRoles_Usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIdDepartamentos_Usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getIdDepartamentos_Usuario" message="tns:IService1_getIdDepartamentos_Usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getIdDepartamentos_UsuarioResponse" message="tns:IService1_getIdDepartamentos_Usuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDepartamento">
      <soap:operation soapAction="http://tempuri.org/IService1/addDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRole">
      <soap:operation soapAction="http://tempuri.org/IService1/addRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/addUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPermiso">
      <soap:operation soapAction="http://tempuri.org/IService1/addPermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUsuario_Departamento">
      <soap:operation soapAction="http://tempuri.org/IService1/addUsuario_Departamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUsuario_Rol">
      <soap:operation soapAction="http://tempuri.org/IService1/addUsuario_Rol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRoles_Permisos">
      <soap:operation soapAction="http://tempuri.org/IService1/addRoles_Permisos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDepartamento_Jefe">
      <soap:operation soapAction="http://tempuri.org/IService1/addDepartamento_Jefe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addJerarquia">
      <soap:operation soapAction="http://tempuri.org/IService1/addJerarquia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTipo_dia">
      <soap:operation soapAction="http://tempuri.org/IService1/addTipo_dia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPermiso">
      <soap:operation soapAction="http://tempuri.org/IService1/editPermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editRol">
      <soap:operation soapAction="http://tempuri.org/IService1/editRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editDepartamento">
      <soap:operation soapAction="http://tempuri.org/IService1/editDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/editUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="perfil">
      <soap:operation soapAction="http://tempuri.org/IService1/perfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePermiso">
      <soap:operation soapAction="http://tempuri.org/IService1/deletePermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRoles_Usuarios">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteRoles_Usuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDepartamento_Usuarios">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteDepartamento_Usuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDepartamento_Jefe">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteDepartamento_Jefe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmarLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/confirmarLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPermiso">
      <soap:operation soapAction="http://tempuri.org/IService1/getPermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRol">
      <soap:operation soapAction="http://tempuri.org/IService1/getRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepartamento">
      <soap:operation soapAction="http://tempuri.org/IService1/getDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/getUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTbl_calendario">
      <soap:operation soapAction="http://tempuri.org/IService1/getTbl_calendario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTbl_departamentos">
      <soap:operation soapAction="http://tempuri.org/IService1/getTbl_departamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTbl_jerarquia">
      <soap:operation soapAction="http://tempuri.org/IService1/getTbl_jerarquia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTbl_log_vacaciones">
      <soap:operation soapAction="http://tempuri.org/IService1/getTbl_log_vacaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTbl_permisos">
      <soap:operation soapAction="http://tempuri.org/IService1/getTbl_permisos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTbl_roles">
      <soap:operation soapAction="http://tempuri.org/IService1/getTbl_roles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTbl_status">
      <soap:operation soapAction="http://tempuri.org/IService1/getTbl_status" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTbl_tipo_dia">
      <soap:operation soapAction="http://tempuri.org/IService1/getTbl_tipo_dia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTbl_usuarios">
      <soap:operation soapAction="http://tempuri.org/IService1/getTbl_usuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTbl_vacaciones">
      <soap:operation soapAction="http://tempuri.org/IService1/getTbl_vacaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUltimoId_Roles">
      <soap:operation soapAction="http://tempuri.org/IService1/getUltimoId_Roles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLista_Permisos">
      <soap:operation soapAction="http://tempuri.org/IService1/getLista_Permisos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdsRoles_Usuario">
      <soap:operation soapAction="http://tempuri.org/IService1/getIdsRoles_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdDepartamentos_Usuario">
      <soap:operation soapAction="http://tempuri.org/IService1/getIdDepartamentos_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:7100/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>