ASKI-VACACIONES/ASKI-VACACIONES/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7100/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7100/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7100/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_Asky" />
      <xsd:import schemaLocation="http://localhost:7100/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service_Asky.Tables" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:addDepartamento" />
  </wsdl:message>
  <wsdl:message name="IService1_addDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:addDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addRole_InputMessage">
    <wsdl:part name="parameters" element="tns:addRole" />
  </wsdl:message>
  <wsdl:message name="IService1_addRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:addRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:addUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_addUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addPermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:addPermiso" />
  </wsdl:message>
  <wsdl:message name="IService1_addPermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPermisoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editPermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:editPermiso" />
  </wsdl:message>
  <wsdl:message name="IService1_editPermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:editPermisoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editRol_InputMessage">
    <wsdl:part name="parameters" element="tns:editRol" />
  </wsdl:message>
  <wsdl:message name="IService1_editRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:editRolResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:editDepartamento" />
  </wsdl:message>
  <wsdl:message name="IService1_editDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:editDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deletePermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:deletePermiso" />
  </wsdl:message>
  <wsdl:message name="IService1_deletePermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletePermisoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_confirmarLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:confirmarLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_confirmarLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:confirmarLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:getPermiso" />
  </wsdl:message>
  <wsdl:message name="IService1_getPermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPermisoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getRol_InputMessage">
    <wsdl:part name="parameters" element="tns:getRol" />
  </wsdl:message>
  <wsdl:message name="IService1_getRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRolResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:getDepartamento" />
  </wsdl:message>
  <wsdl:message name="IService1_getDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_getUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addDepartamento" message="tns:IService1_addDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addDepartamentoResponse" message="tns:IService1_addDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addRole" message="tns:IService1_addRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addRoleResponse" message="tns:IService1_addRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addUsuario" message="tns:IService1_addUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addUsuarioResponse" message="tns:IService1_addUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPermiso">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addPermiso" message="tns:IService1_addPermiso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addPermisoResponse" message="tns:IService1_addPermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editPermiso">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editPermiso" message="tns:IService1_editPermiso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editPermisoResponse" message="tns:IService1_editPermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editRol" message="tns:IService1_editRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editRolResponse" message="tns:IService1_editRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editDepartamento" message="tns:IService1_editDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editDepartamentoResponse" message="tns:IService1_editDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletePermiso">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deletePermiso" message="tns:IService1_deletePermiso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deletePermisoResponse" message="tns:IService1_deletePermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="confirmarLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/confirmarLogin" message="tns:IService1_confirmarLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/confirmarLoginResponse" message="tns:IService1_confirmarLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPermiso">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPermiso" message="tns:IService1_getPermiso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPermisoResponse" message="tns:IService1_getPermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getRol" message="tns:IService1_getRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getRolResponse" message="tns:IService1_getRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getDepartamento" message="tns:IService1_getDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getDepartamentoResponse" message="tns:IService1_getDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUsuario" message="tns:IService1_getUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUsuarioResponse" message="tns:IService1_getUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDepartamento">
      <soap:operation soapAction="http://tempuri.org/IService1/addDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRole">
      <soap:operation soapAction="http://tempuri.org/IService1/addRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/addUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPermiso">
      <soap:operation soapAction="http://tempuri.org/IService1/addPermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPermiso">
      <soap:operation soapAction="http://tempuri.org/IService1/editPermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editRol">
      <soap:operation soapAction="http://tempuri.org/IService1/editRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editDepartamento">
      <soap:operation soapAction="http://tempuri.org/IService1/editDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePermiso">
      <soap:operation soapAction="http://tempuri.org/IService1/deletePermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmarLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/confirmarLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPermiso">
      <soap:operation soapAction="http://tempuri.org/IService1/getPermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRol">
      <soap:operation soapAction="http://tempuri.org/IService1/getRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepartamento">
      <soap:operation soapAction="http://tempuri.org/IService1/getDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/getUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:7100/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>